<nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <div class='container'>
        <a class='navbar-brand' href='/'>NartHair education</a>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ms-auto'>
                <div class='dropdown'>
                    <button
                        class='btn btn-light dropdown-toggle'
                        type='button'
                        id='dropdownMenuButton1'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        <img
                            src='https://cellphones.com.vn/sforum/wp-content/uploads/2024/02/avatar-anh-meo-cute-11.jpg'
                            alt=''
                            class='user-avatar'
                        />
                        Trần Hải
                    </button>
                    <ul
                        class='dropdown-menu'
                        aria-labelledby='dropdownMenuButton1'
                    >
                        <li>
                            <a class='dropdown-item' 
                            href='/courses/create'>Đăng khóa học</a>
                        </li>
                        <li>
                            <a class='dropdown-item'
                            href='/me/stored/courses'>Khóa học của tôi</a>
                        </li>
                        <li>
                            <a class='dropdown-item' href="/search">Tìm kiếm</a>
                        </li>

                        <li>
                            <a class='dropdown-item' href='/me/strored/news'>Bài viết của tôi</a>
                        </li>
                        
                        <div class='dropdown-divider'></div>

                        <li>
                            <a class='dropdown-item' href='/'
                            style='color: red;'>Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </ul>

        </div>
    </div>
</nav>